In [1]:
(
    1 + 0
)  # Utility cell. Sometimes "Jupyter" skipps the first cell when running all cells. Especially after a restart.

1

In [2]:
(
    1 + 1
)  # Utility cell. Sometimes "Jupyter" skipps the first cell when running all cells. Especially after a restart.

2

In [3]:
print(f"N{1+2} utility cell running...")

N3 utility cell running...

In [4]:
# Resolve the path to the 'src' folder with helper functions
import config_notebooks

PYTHONPATH: C:\Users\Admin\Documents\Univer\MASTER THESIS IDEAS\Flavio Pinehro\11_MasterProject\src

In [5]:
from n02_import import *

os.getcwd():
c:\Users\Admin\Documents\Univer\MASTER THESIS IDEAS\Flavio Pinehro\11_MasterProject\notebooks
============================================================
input_file_location:
..\data\01_raw
============================================================
output_file_location:
..\data\02_ingested
============================================================

In [6]:
# # Resolve the path to the 'src' folder with helper functions
# import config_notebooks
# from importlib import reload

# # Import the module and reload it
# import n02_import_reload

# reload(n02_import_reload)

# # Reload updated functions
# from n02_import_reload import *

# Raw STATA data description

| **Field Name**         | **Description**                                      | **Data Type** | **Notes**                                                                                      |
|-------------------------|------------------------------------------------------|---------------|------------------------------------------------------------------------------------------------|
| country_id             | United Nations Country M49 Codes                     | Integer       | Can be joined with the location_country table within the classifications dataset for more detailed information |
| partner_country_id     | United Nations Country M49 Codes                     | Integer       | Can be joined with the location_country table within the classifications dataset for more detailed information; Only applicable to country-partner-product-year tables |
| product_id             | Growth Lab assigned numerical product identifier     | Integer       | Can be joined with the product_hs92 table within the classifications dataset for more detailed information |
| year                   | Year of record                                       | Integer       | HS records start at 1995                                                                       |
| export_value           | Current USD export value                             | Integer       |                                                                                                |
| import_value           | Current USD import value                             | Integer       |                                                                                                |
| eci                    | Economic Complexity Index computed using HS product data | Float         | Variable applicable to the respective country-year, independent of individual product          |
| coi                    | Complexity Outlook Index computed using HS product data | Float         | Variable applicable to the respective country-year, independent of individual product          |
| pci                    | Product Complexity Index                             | Float         |                                                                                                |

*Note:* Any “normalized” fields are assumed to be calculated within the country-year dataset. For example, `normalized_pci` is `pci` normalized to mean of 0 and standard deviation of 1 within a given country for a single year.

## Reading and converting exports data to 'parquete' files for efficient memory utilization

2010 - 2014 exports

In [7]:
# all_col_names = ['country_id', 'partner_country_id', 'year', 'product_id', 'export_value', 'import_value', 'coi', 'eci', 'pci']
col_names = ["country_id", "year", "product_id", "export_value"]

input_file_name = "hs92_country_country_product_year_4_2010_2014.dta"
raw_df_2010_2014 = read_hs92_stata_data(input_file_location, input_file_name, col_names)

country_id column initial type:
int32
============================================================
country_id column final type:
category
============================================================
product_id column initial type:
int16
============================================================
product_id column final type:
category
============================================================
year column initial type:
int16
============================================================
year column final type:
category
============================================================

In [8]:
df_stats(raw_df_2010_2014)

['df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(26980024, 4)
============================================================
data types:
country_id      category
year            category
product_id      category
export_value       int64
dtype: object
============================================================
columns:
['country_id', 'year', 'product_id', 'export_value']
============================================================
            export_value
count      26,980,024.00
mean        3,196,029.85
std       131,055,133.16
min                 0.00
25%                 0.00
50%             5,397.00
75%            98,805.00
max   118,128,768,381.00
============================================================
Total memory usage: 350771034 bytes
============================================================

In [9]:
# float exports
# min 0
# max 118,128,768,381.00
# Total memory usage: 350771034 bytes
# =========
# int exports
# min 0
# max 118,128,768,381
# Total memory usage: 350771034 bytes

In [10]:
raw_df_2010_2014.head(15)

   country_id  year product_id  export_value
0           4  2010       1373             0
1           4  2010       1373             0
2           4  2010       1373             0
3           4  2010       1373             0
4           4  2010       1373          3873
5           4  2010       1373             0
6           4  2010       1373             0
7           4  2010       1373             0
8           4  2010       1373             0
9           4  2010       1373             0
10          4  2010       1373         14686
11          4  2010       1373          2660
12          4  2010       1373             0
13          4  2010       1373             0
14          4  2010       1373             0

In [11]:
# Save the raw exports Data to a .parquet file
output_file_name = "raw_hs92_exports_2010_2014.parquet"
save_hs92_parquet_data(
    data=raw_df_2010_2014,
    file_location=output_file_location,
    file_name=output_file_name,
)

country_id column initial type:
category
============================================================
country_id column final type:
int16
============================================================
product_id column initial type:
category
============================================================
product_id column final type:
int16
============================================================
year column initial type:
category
============================================================
year column final type:
int16
============================================================

2015 - 2019 exports

In [12]:
# all_col_names = ['country_id', 'partner_country_id', 'year', 'product_id', 'export_value', 'import_value', 'coi', 'eci', 'pci']
col_names = ["country_id", "year", "product_id", "export_value"]

input_file_name = "hs92_country_country_product_year_4_2015_2019.dta"
raw_df_2015_2019 = read_hs92_stata_data(input_file_location, input_file_name, col_names)

country_id column initial type:
int32
============================================================
country_id column final type:
category
============================================================
product_id column initial type:
int16
============================================================
product_id column final type:
category
============================================================
year column initial type:
int16
============================================================
year column final type:
category
============================================================

In [13]:
df_stats(raw_df_2015_2019)

['df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(28179758, 4)
============================================================
data types:
country_id      category
year            category
product_id      category
export_value       int64
dtype: object
============================================================
columns:
['country_id', 'year', 'product_id', 'export_value']
============================================================
            export_value
count      28,179,758.00
mean        2,964,273.69
std       105,195,934.48
min                 0.00
25%                 0.00
50%             5,237.00
75%            93,262.00
max   127,254,781,879.00
============================================================
Total memory usage: 366367566 bytes
============================================================

In [14]:
raw_df_2015_2019.head(15)

   country_id  year product_id  export_value
0           4  2017       1891             0
1           4  2017       1891             0
2           4  2017       1891             0
3           4  2017       1891         85321
4           4  2017       1891          9546
5           4  2017       1891             0
6           4  2017       1891             0
7           4  2017       1891          3880
8           4  2017       1891         11620
9           4  2017       1891             0
10          4  2017       1891             0
11          4  2017       1891           621
12          4  2017       1891             0
13          4  2017       1891         24992
14          4  2017       1891             0

In [15]:
# Save the raw exports Data to a .parquet file
output_file_name = "raw_hs92_exports_2015_2019.parquet"
save_hs92_parquet_data(
    data=raw_df_2015_2019,
    file_location=output_file_location,
    file_name=output_file_name,
)

country_id column initial type:
category
============================================================
country_id column final type:
int16
============================================================
product_id column initial type:
category
============================================================
product_id column final type:
int16
============================================================
year column initial type:
category
============================================================
year column final type:
int16
============================================================

In [16]:
# Switching categorical columns to integers
categorical_columns = ["country_id", "year", "product_id"]
raw_df_2010_2014 = switch_to_dtype(
    raw_df_2010_2014, default_dtype="int16", categorical_columns=categorical_columns
)
raw_df_2015_2019 = switch_to_dtype(
    raw_df_2015_2019, default_dtype="int16", categorical_columns=categorical_columns
)

country_id column initial type:
category
============================================================
country_id column final type:
int16
============================================================
year column initial type:
category
============================================================
year column final type:
int16
============================================================
product_id column initial type:
category
============================================================
product_id column final type:
int16
============================================================
country_id column initial type:
category
============================================================
country_id column final type:
int16
============================================================
year column initial type:
category
============================================================
year column final type:
int16
============================================================
product_id column initial type:
category
============================================================
product_id column final type:
int16
============================================================

In [17]:
# Merge datasets efficiently
raw_df = pd.concat([raw_df_2010_2014, raw_df_2015_2019], ignore_index=True)

In [18]:
df_stats(raw_df)

['df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(55159782, 4)
============================================================
data types:
country_id      int16
year            int16
product_id      int16
export_value    int64
dtype: object
============================================================
columns:
['country_id', 'year', 'product_id', 'export_value']
============================================================
         country_id          year    product_id       export_value
count 55,159,782.00 55,159,782.00 55,159,782.00      55,159,782.00
mean         442.15      2,014.58      1,339.55       3,077,631.40
std          256.66          2.87        353.05     118,551,215.60
min            4.00      2,010.00        650.00               0.00
25%          218.00      2,012.00      1,050.00               0.00
50%          410.00      2,015.00      1,365.00           5,313.00
75%          690.00      2,017.00      1,660.00          95,951.00
max          999.00      2,019.00      1,892.00 127,254,781,879.00
============================================================
Total memory usage: 772237080 bytes
============================================================

In [19]:
categorical_columns = ["country_id", "year", "product_id"]
raw_df = switch_to_dtype(
    raw_df, default_dtype="category", categorical_columns=categorical_columns
)

country_id column initial type:
int16
============================================================
country_id column final type:
category
============================================================
year column initial type:
int16
============================================================
year column final type:
category
============================================================
product_id column initial type:
int16
============================================================
product_id column final type:
category
============================================================

In [20]:
raw_df.sort_values(by=["country_id", "year", "product_id"], inplace=True)
raw_df.reset_index(drop=True, inplace=True)

In [21]:
# Free memory
del raw_df_2010_2014, raw_df_2015_2019
gc.collect()

0

In [22]:
df_stats(raw_df)

['df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(55159782, 4)
============================================================
data types:
country_id      category
year            category
product_id      category
export_value       int64
dtype: object
============================================================
columns:
['country_id', 'year', 'product_id', 'export_value']
============================================================
            export_value
count      55,159,782.00
mean        3,077,631.40
std       118,551,215.60
min                 0.00
25%                 0.00
50%             5,313.00
75%            95,951.00
max   127,254,781,879.00
============================================================
Total memory usage: 717106480 bytes
============================================================

In [23]:
raw_df.head(10)

  country_id  year product_id  export_value
0          4  2010        650             0
1          4  2010        650             0
2          4  2010        650             0
3          4  2010        651        773058
4          4  2010        651             0
5          4  2010        651             0
6          4  2010        651             0
7          4  2010        653          1422
8          4  2010        653         42264
9          4  2010        654             0

In [24]:
raw_df.sample(15)

         country_id  year product_id  export_value
7592810         132  2016       1742             0
45843717        752  2014       1739        180133
53039235        840  2013       1041           327
6881740         124  2010       1731        833767
47742872        764  2019       1523         46601
1705324          36  2016       1734             0
2433978          40  2017       1587             0
1451437          36  2012       1728         29434
2397469          40  2017        865             0
6270250         112  2011        672             0
38916484        634  2014        702             0
679120           24  2019        783             0
1205667          32  2017       1814        245280
9920885         158  2011        936             0
16347205        250  2018       1574        882159

In [25]:
# Save the raw exports Data to a .parquet file
output_file_name = "raw_hs92_exports_merged.parquet"
save_hs92_parquet_data(
    data=raw_df, file_location=output_file_location, file_name=output_file_name
)

country_id column initial type:
category
============================================================
country_id column final type:
int16
============================================================
product_id column initial type:
category
============================================================
product_id column final type:
int16
============================================================
year column initial type:
category
============================================================
year column final type:
int16
============================================================

# Ingested and merged PARQUET data description

| **Field Name**         | **Description**                                      | **Data Type** | **Notes**                                                                                      |
|-------------------------|------------------------------------------------------|---------------|------------------------------------------------------------------------------------------------|
| country_id             | United Nations Country M49 Codes                     | Integer       | Can be joined with the location_country table within the classifications dataset for more detailed information |
| product_id             | Growth Lab assigned numerical product identifier     | Integer       | Can be joined with the product_hs92 table within the classifications dataset for more detailed information |
| year                   | Year of record                                       | Integer       | HS records start at 1995                                                                       |
| export_value           | Current USD export value                             | Integer       |                                                                                                |

*Note:* Any “normalized” fields are assumed to be calculated within the country-year dataset. For example, `normalized_pci` is `pci` normalized to mean of 0 and standard deviation of 1 within a given country for a single year.

Staging list of unique export_years present in merged dataframe

In [26]:
# this data was staged at n01_Processed_exports.ipynb
dumped_data = restore_cache(input_file_location=output_file_location)

data restored:['valid_gdp_country_codes', 'valid_gdp_country_ids', 'valid_gdp_locations']
============================================================

In [27]:
dumped_data["export_years"] = set(raw_df["year"].unique())

staging_cache(output_file_location=output_file_location, **dumped_data)

data staged:['valid_gdp_country_codes', 'valid_gdp_country_ids', 'valid_gdp_locations', 'export_years']
============================================================

In [28]:
del raw_df
gc.collect()

0

In [29]:
# assert False, "End of code"