In [1]:
(
    1 + 0
)  # Utility cell. Sometimes "Jupyter" skipps the first cell when running all cells. Especially after a restart.

1

In [2]:
(
    1 + 1
)  # Utility cell. Sometimes "Jupyter" skipps the first cell when running all cells. Especially after a restart.

2

In [3]:
print(f"N{1+2} utility cell running...")

N3 utility cell running...

In [4]:
# Resolve the path to the 'src' folder with helper functions
import config_notebooks

PYTHONPATH: C:\Users\Admin\Documents\Univer\MASTER THESIS IDEAS\Flavio Pinehro\11_MasterProject\src;C:\Users\Admin\Documents\Univer\MASTER THESIS IDEAS\Flavio Pinehro\11_MasterProject\src\imports

In [5]:
from n07_import import *

os.getcwd():
c:\Users\Admin\Documents\Univer\MASTER THESIS IDEAS\Flavio Pinehro\11_MasterProject\notebooks
============================================================
input_file_location:
..\data\01_raw
============================================================
output_file_location:
..\data\07_sindices_processed
============================================================

In [6]:
# Resolve the path to the 'src' folder with helper functions
import config_notebooks
from importlib import reload

# Import the module and reload it
import n07_import_reload

reload(n07_import_reload)

# Reload updated functions
from n07_import_reload import *

os.getcwd():
c:\Users\Admin\Documents\Univer\MASTER THESIS IDEAS\Flavio Pinehro\11_MasterProject\notebooks
============================================================
input_file_location:
..\data\01_raw
============================================================
output_file_location:
..\data\07_sindices_processed
============================================================
os.getcwd():
c:\Users\Admin\Documents\Univer\MASTER THESIS IDEAS\Flavio Pinehro\11_MasterProject\notebooks
============================================================
input_file_location:
..\data\01_raw
============================================================
output_file_location:
..\data\07_sindices_processed
============================================================

# Restoring cached data, staged while implementing Method of reflections in the n06_MOR_visual.ipynb notebook

In [7]:
# Restoring cached data
initial_input_location = input_file_location

input_file_location = os.path.join("..", "data", "06_mor_gold")
dumped_data = restore_cache(input_file_location=input_file_location)
clean_countries_ids = dumped_data["clean_countries_ids"]
clean_countries_ids = [*clean_countries_ids]
clean_countries_number = len(clean_countries_ids)
print(f"Number of countries: {clean_countries_number}")

rolling_exports_years = dumped_data["rolling_exports_years"]
rolling_exports_years = [*rolling_exports_years]
rolling_exports_years.sort()
print(f"Years of analysis: {rolling_exports_years}")

input_file_location = initial_input_location

data restored:['rolling_exports_years', 'clean_countries_ids']
============================================================
Number of countries: 144
Years of analysis: [2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [8]:
initial_input_location = input_file_location

input_file_location = os.path.join("..", "data", "06_mor_gold")
input_file_name = "ECI_correlation.parquet"
columns = [
    "year",
    "ECI_18",
]
target_correlations_df = read_hs92_parquet_data(
    file_location=input_file_location,
    file_name=input_file_name,
    columns=columns,
    f_convert_dtype=False,
)
columns_new = {"ECI_18": "eci_18__log_gdp_pcap"}
target_correlations_df.rename(columns=columns_new, inplace=True)
dumped_data["target_correlations_df"] = target_correlations_df
df_stats(target_correlations_df, "target_correlations_df")

input_file_location = initial_input_location

['target_correlations_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(8, 2)
============================================================
data types:
year                      int16
eci_18__log_gdp_pcap    float64
dtype: object
============================================================
columns:
['year', 'eci_18__log_gdp_pcap']
============================================================
          year  eci_18__log_gdp_pcap
count     8.00                  8.00
mean  2,015.50              0.763472
std       2.45              0.026509
min   2,012.00              0.732153
25%   2,013.75              0.740900
50%   2,015.50              0.761344
75%   2,017.25              0.786876
max   2,019.00              0.797133
============================================================
Total memory usage: 212 bytes
============================================================

In [9]:
initial_input_location = input_file_location

input_file_location = os.path.join("..", "data", "06_mor_gold")
input_file_name = "ECI_GDP.parquet"
columns = [
    "country_id",
    "country_code",
    "country_name",
    "year",
    "log_gdp_per_capita",
    "ECI_18",
]
categorical_columns = ["country_code"]
default_dtype = "str"
ECI_GDP = read_hs92_parquet_data(
    file_location=input_file_location,
    file_name=input_file_name,
    columns=columns,
    categorical_columns=categorical_columns,
    f_convert_dtype=True,
    default_dtype=default_dtype,
)

input_file_location = initial_input_location

country_code column initial type:
category
============================================================
country_code column final type:
object
============================================================

In [10]:
df_stats(ECI_GDP, "ECI_GDP")

['ECI_GDP', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(1152, 6)
============================================================
data types:
country_id               int16
country_code            object
country_name          category
year                     int16
log_gdp_per_capita     float64
ECI_18                 float64
dtype: object
============================================================
columns:
['country_id', 'country_code', 'country_name', 'year', 'log_gdp_per_capita', 'ECI_18']
============================================================
       country_id     year  log_gdp_per_capita    ECI_18
count    1,152.00 1,152.00            1,152.00  1,152.00
mean       440.19 2,015.50                8.62  0.000000
std        250.36     2.29                1.46      1.00
min          8.00 2,012.00                5.35     -2.28
25%        221.00 2,013.75                7.41 -0.806295
50%        427.00 2,015.50                8.64 -0.141866
75%        655.00 2,017.25                9.74  0.737877
max        894.00 2,019.00               11.59      2.52
============================================================
Total memory usage: 119920 bytes
============================================================

# Importing population data and Location data
Merging to ECI_GDP dataset, which is a subset of 'clean' countries, obtained while implementing Method of reflections in the n06_MOR_visual.ipynb notebook

In [11]:
# Restoring population data
initial_input_location = input_file_location

input_file_location = os.path.join("..", "data", "02_ingested")

input_file_name = "raw_population.dta"
population_df = read_hs92_stata_data(input_file_location, input_file_name)

input_file_name = "locations.parquet"
location_df = read_hs92_parquet_data(
    input_file_location, input_file_name, f_convert_dtype=False
)
dumped_data["location_df"] = location_df

input_file_location = initial_input_location

year column initial type:
int16
============================================================
year column final type:
category
============================================================
country_code column initial type:
object
============================================================
country_code column final type:
category
============================================================

In [12]:
# Switching to the "object" data type for categorical columns
categorical_columns = ["country_code", "year"]
dtype_dict = {"country_code": "str", "year": "int16"}
population_df = switch_to_dtype(
    data=population_df,
    default_dtype="str",
    categorical_columns=categorical_columns,
    dtype_dict=dtype_dict,
)

country_code column initial type:
category
============================================================
country_code column final type:
object
============================================================
year column initial type:
category
============================================================
year column final type:
int16
============================================================

In [13]:
df_stats(population_df, "population_df")

['population_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(17024, 3)
============================================================
data types:
country_code     object
year              int16
population      float64
dtype: object
============================================================
columns:
['country_code', 'year', 'population']
============================================================
           year       population
count 17,024.00        16,930.00
mean   1,991.50   216,605,749.67
std       18.47   711,507,956.69
min    1,960.00         2,715.00
25%    1,975.75     1,009,540.00
50%    1,991.50     6,748,606.50
75%    2,007.25    46,785,187.00
max    2,023.00 8,061,876,001.00
============================================================
Total memory usage: 1191812 bytes
============================================================

In [14]:
# Merging the ECI_GDP with population on country_code and year
sindices_df = ECI_GDP.merge(population_df, on=["country_code", "year"], how="left")

In [15]:
df_stats(sindices_df, "sindices_df")

['sindices_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(1152, 7)
============================================================
data types:
country_id               int16
country_code            object
country_name          category
year                     int16
log_gdp_per_capita     float64
ECI_18                 float64
population             float64
dtype: object
============================================================
columns:
['country_id', 'country_code', 'country_name', 'year', 'log_gdp_per_capita', 'ECI_18', 'population']
============================================================
       country_id     year  log_gdp_per_capita    ECI_18       population
count    1,152.00 1,152.00            1,152.00  1,152.00         1,152.00
mean       440.19 2,015.50                8.62  0.000000    50,513,028.06
std        250.36     2.29                1.46      1.00   163,404,670.14
min          8.00 2,012.00                5.35     -2.28     1,255,882.00
25%        221.00 2,013.75                7.41 -0.806295     5,504,986.25
50%        427.00 2,015.50                8.64 -0.141866    11,317,298.50
75%        655.00 2,017.25                9.74  0.737877    36,432,923.00
max        894.00 2,019.00               11.59      2.52 1,407,745,000.00
============================================================
Total memory usage: 129136 bytes
============================================================

In [16]:
del target_correlations_df, ECI_GDP, population_df
gc.collect()

0

In [17]:
# Calculating the log population
sindices_df["log_population"] = np.log(sindices_df["population"])
# Dropping the population column
sindices_df.drop(columns=["population"], inplace=True)

In [18]:
df_stats(sindices_df, "sindices_df")

['sindices_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(1152, 7)
============================================================
data types:
country_id               int16
country_code            object
country_name          category
year                     int16
log_gdp_per_capita     float64
ECI_18                 float64
log_population         float64
dtype: object
============================================================
columns:
['country_id', 'country_code', 'country_name', 'year', 'log_gdp_per_capita', 'ECI_18', 'log_population']
============================================================
       country_id     year  log_gdp_per_capita    ECI_18  log_population
count    1,152.00 1,152.00            1,152.00  1,152.00        1,152.00
mean       440.19 2,015.50                8.62  0.000000           16.52
std        250.36     2.29                1.46      1.00            1.36
min          8.00 2,012.00                5.35     -2.28           14.04
25%        221.00 2,013.75                7.41 -0.806295           15.52
50%        427.00 2,015.50                8.64 -0.141866           16.24
75%        655.00 2,017.25                9.74  0.737877           17.41
max        894.00 2,019.00               11.59      2.52           21.07
============================================================
Total memory usage: 129136 bytes
============================================================

In [19]:
categorical_columns = ["country_name"]
sindices_df = switch_to_dtype(
    sindices_df, default_dtype="str", categorical_columns=categorical_columns
)

country_name column initial type:
category
============================================================
country_name column final type:
object
============================================================

# Importing gini index
Keeping only country code and gini index values

In [20]:
input_file_name = "API_SI.POV.GINI_DS2_en_csv_v2_53.csv"
# reading the csv file, renaming 'iso3_code' to 'country_code'
raw_gini_df = pd.read_csv(
    os.path.join(input_file_location, input_file_name),
    header=2,
)
columns_new = {"Country Code": "country_code", "Country Name": "country_name"}
raw_gini_df.rename(columns=columns_new, inplace=True)

col_years = [*map(str, range(1960, 2024))]
columns = ["country_code"] + col_years
raw_gini_df = raw_gini_df[columns].reset_index(drop=True)

df_stats(raw_gini_df, "raw_gini_df")

['raw_gini_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(266, 65)
============================================================
data types:
country_code     object
1960            float64
1961            float64
1962            float64
1963            float64
                 ...
2019            float64
2020            float64
2021            float64
2022            float64
2023            float64
Length: 65, dtype: object
============================================================
columns:
['country_code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
============================================================
       1960  1961  1962     1963     1964     1965     1966     1967  1968  \
count  0.00  0.00  0.00 1.000000 1.000000 1.000000 1.000000 1.000000  2.00
mean    NaN   NaN   NaN    37.60    38.10    37.50    37.80    36.90 31.55
std     NaN   NaN   NaN      NaN      NaN      NaN      NaN      NaN  6.72
min     NaN   NaN   NaN    37.60    38.10    37.50    37.80    36.90 26.80
25%     NaN   NaN   NaN    37.60    38.10    37.50    37.80    36.90 29.18
50%     NaN   NaN   NaN    37.60    38.10    37.50    37.80    36.90 31.55
75%     NaN   NaN   NaN    37.60    38.10    37.50    37.80    36.90 33.92
max     NaN   NaN   NaN    37.60    38.10    37.50    37.80    36.90 36.30

       1969  ...  2014  2015  2016  2017  2018  2019  2020  2021  2022  2023
count  2.00  ... 82.00 85.00 81.00 78.00 91.00 77.00 65.00 71.00 28.00  4.00
mean  31.95  ... 36.39 36.64 35.88 35.42 35.68 34.98 34.88 35.28 38.33 44.08
std    5.73  ...  8.01  7.71  7.26  6.92  6.59  7.02  6.84  6.54  7.72  5.60
min   27.90  ... 24.00 25.40 24.80 23.20 24.60 23.20 24.00 24.10 26.40 36.10
25%   29.92  ... 30.97 31.70 31.20 30.40 30.45 30.00 29.50 31.00 32.90 42.48
50%   31.95  ... 34.80 35.50 34.70 35.00 35.20 33.80 34.60 34.40 38.10 45.65
75%   33.98  ... 40.33 41.10 40.00 39.40 39.25 38.50 38.80 39.00 43.12 47.25
max   36.00  ... 63.00 59.10 54.60 53.30 53.90 53.50 53.50 55.10 54.80 48.90

[8 rows x 64 columns]
============================================================
Total memory usage: 152284 bytes
============================================================

In [21]:
# Reshaping the raw_gini_df DataFrame from wide to long format by converting the gini data from columns (with years starting from 1960) into rows
raw_gini_df = raw_gini_df.melt(
    id_vars=["country_code"], var_name="year", value_name="gini"
)
df_stats(raw_gini_df, "raw_gini_df")

['raw_gini_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(17024, 3)
============================================================
data types:
country_code     object
year             object
gini            float64
dtype: object
============================================================
columns:
['country_code', 'year', 'gini']
============================================================
          gini
count 2,111.00
mean     37.72
std       8.83
min      20.70
25%      31.20
50%      35.50
75%      43.30
max      65.80
============================================================
Total memory usage: 2196228 bytes
============================================================

In [22]:
initial_output_location = output_file_location

# Saving imported gini index data to a .parquet file
output_file_location = os.path.join("..", "data", "02_ingested")
output_file_name = "raw_gini.parquet"
save_hs92_parquet_data(
    data=raw_gini_df,
    file_location=output_file_location,
    file_name=output_file_name,
    dtype_dict={"country_code": "str"},
)

output_file_location = initial_output_location

year column initial type:
object
============================================================
year column final type:
int16
============================================================
country_code column initial type:
object
============================================================
country_code column final type:
object
============================================================

Reading ingested GINI (by World Bank) index

In [23]:
initial_input_location = input_file_location

input_file_location = os.path.join("..", "data", "02_ingested")
input_file_name = "raw_gini.parquet"
raw_gini_df = read_hs92_parquet_data(
    input_file_location, input_file_name, f_convert_dtype=False
)

input_file_location = initial_input_location

In [24]:
df_stats(raw_gini_df, "raw_gini_df")

['raw_gini_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(17024, 3)
============================================================
data types:
country_code     object
year              int16
gini            float64
dtype: object
============================================================
columns:
['country_code', 'year', 'gini']
============================================================
           year     gini
count 17,024.00 2,111.00
mean   1,991.50    37.72
std       18.47     8.83
min    1,960.00    20.70
25%    1,975.75    31.20
50%    1,991.50    35.50
75%    2,007.25    43.30
max    2,023.00    65.80
============================================================
Total memory usage: 1191812 bytes
============================================================

In [25]:
# Merging the sindices_df with gini on country_code and year
sindices_df = sindices_df.merge(raw_gini_df, on=["country_code", "year"], how="left")

In [26]:
del raw_gini_df
gc.collect()

0

In [27]:
df_stats(sindices_df, "sindices_df")

['sindices_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(1152, 8)
============================================================
data types:
country_id              int16
country_code           object
country_name           object
year                    int16
log_gdp_per_capita    float64
ECI_18                float64
log_population        float64
gini                  float64
dtype: object
============================================================
columns:
['country_id', 'country_code', 'country_name', 'year', 'log_gdp_per_capita', 'ECI_18', 'log_population', 'gini']
============================================================
       country_id     year  log_gdp_per_capita    ECI_18  log_population  \
count    1,152.00 1,152.00            1,152.00  1,152.00        1,152.00
mean       440.19 2,015.50                8.62  0.000000           16.52
std        250.36     2.29                1.46      1.00            1.36
min          8.00 2,012.00                5.35     -2.28           14.04
25%        221.00 2,013.75                7.41 -0.806295           15.52
50%        427.00 2,015.50                8.64 -0.141866           16.24
75%        655.00 2,017.25                9.74  0.737877           17.41
max        894.00 2,019.00               11.59      2.52           21.07

        gini
count 579.00
mean   36.15
std     7.37
min    23.20
25%    30.80
50%    35.20
75%    40.85
max    63.00
============================================================
Total memory usage: 186204 bytes
============================================================

Analizing missing data

In [28]:
# Calculating the total number of countries in sindices_df
clean_countries_number = sindices_df["country_id"].nunique()
clean_countries_number

144

In [29]:
# Subset sindices_df to rows with NaN values in "gini" column
missing_gini_sindices_df = sindices_df[sindices_df["gini"].isna()].reset_index(
    drop=True
)

In [30]:
# Calculating number of rows with missing gini values for each year
missing_gini = missing_gini_sindices_df["year"].value_counts().reset_index()
missing_gini.columns = ["year", "count"]
missing_gini["proportion"] = missing_gini["count"] / clean_countries_number
missing_gini.sort_values(by="year", ascending=False, inplace=True)
missing_gini

   year  count  proportion
1  2019     76    0.527778
7  2018     61    0.423611
2  2017     75    0.520833
3  2016     72    0.500000
6  2015     68    0.472222
5  2014     70    0.486111
0  2013     80    0.555556
4  2012     71    0.493056

In [31]:
# # Pivotting the missing gini data to get the years with missing gini data for each country
# missing_gini_pivot_df = missing_gini_sindices_df.pivot_table(
#     index=["country_code", "country_name"],
#     columns="year",
#     values="gini",
#     aggfunc="first",
# ).reset_index()

In [32]:
# Calculating the number of countries with missing gini values
missing_gini_sindices_df["country_id"].nunique()

89

In [33]:
clean_countries_number

144

In [34]:
del missing_gini_sindices_df, missing_gini
gc.collect()

0

The Gini Index is named after the Italian statistician Corrado Gini

The Gini Index is a measure of income inequality within a country or population. It helps us understand how wealth is distributed among people.
- If the Gini Index is 0, it means perfect equality—everyone earns exactly the same.
- If the Gini Index is 1 (or 100 on a percentage scale), it means maximum inequality—one person has all the income, and the rest have none.

This gini dataset has large number of missing values.
Trying another, swiid dataset:

Solt, Frederick, 2019, "The Standardized World Income Inequality Database, Versions 8-9", https://doi.org/10.7910/DVN/LM4OWF, Harvard Dataverse, V13

Solt, Frederick. 2020. “Measuring Income Inequality Across Countries and Over Time: The
Standardized World Income Inequality Database.” Social Science Quarterly. SWIID Version
9.8, December 2024

Using measures:<br>
gini_disp: Estimate of Gini index of inequality in equivalized (square root scale) household
disposable (post-tax, post-transfer) income, using Luxembourg Income Study data as the
standard

In [35]:
input_file_name = "swiid9_8_summary.csv"
# reading the csv file, renaming 'iso3_code' to 'country_code'
raw_swiid_df = pd.read_csv(
    os.path.join(input_file_location, input_file_name),
    usecols=[
        "country",
        "year",
        "gini_disp", # disposable income
    ],
    # header=2,
)
raw_swiid_df.rename(columns={"country": "country_name"}, inplace=True)

categorical_columns = ["year"]
raw_swiid_df = switch_to_dtype(
    raw_swiid_df, default_dtype="int16", categorical_columns=categorical_columns
)

# Mapping of country name replacements
country_renaming_map = {
    "United States": "United States of America",
    "Czech Republic": "Czechia",
    "Korea": "South Korea",
    "Turkey": "Turkiye",
    "Gambia": "The Gambia",
    "Palestinian Territories": "Palestine",
    "Congo-Brazzaville": "Democratic Republic of the Congo",
    "Congo-Kinshasa": "Republic of the Congo",
}

# Apply replacement to 'country_name' column
raw_swiid_df["country_name"] = raw_swiid_df["country_name"].replace(
    country_renaming_map
)

year column initial type:
int64
============================================================
year column final type:
int16
============================================================

In [36]:
initial_output_location = output_file_location

# Saving imported gini index data to a .parquet file
output_file_location = os.path.join("..", "data", "02_ingested")
output_file_name = "raw_swiid.parquet"
save_hs92_parquet_data(
    data=raw_swiid_df,
    file_location=output_file_location,
    file_name=output_file_name,
    dtype_dict={"country_name": "str"},
)

output_file_location = initial_output_location

year column initial type:
int16
============================================================
year column final type:
int16
============================================================

In [37]:
initial_input_location = input_file_location

input_file_location = os.path.join("..", "data", "02_ingested")
input_file_name = "raw_swiid.parquet"
raw_gini_df = read_hs92_parquet_data(
    input_file_location, input_file_name, f_convert_dtype=False
)

input_file_location = initial_input_location

In [38]:
df_stats(raw_swiid_df, "raw_swiid_df")

['raw_swiid_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(6398, 3)
============================================================
data types:
country_name     object
year              int16
gini_disp       float64
dtype: object
============================================================
columns:
['country_name', 'year', 'gini_disp']
============================================================
          year  gini_disp
count 6,398.00   6,398.00
mean  1,999.79      38.17
std      14.28       8.55
min   1,960.00      16.70
25%   1,990.25      31.70
50%   2,002.00      38.30
75%   2,011.00      43.90
max   2,023.00      65.20
============================================================
Total memory usage: 483770 bytes
============================================================

In [39]:
# Estimating the number of countries in the raw_swiid_df dataset
raw_swiid_df["country_name"].nunique()

199

In [40]:
# Ensuring the number of countries in the sindices_df dataset didn't change
sindices_df["country_name"].nunique()

144

In [41]:
swiid_countries = set(raw_swiid_df["country_name"].unique())
sindices_countries = set(sindices_df["country_name"].unique())

common_clean_countries = sindices_countries.intersection(swiid_countries)
print(
    f"common swiid_countries countries: {len(common_clean_countries)};",
    "=" * 60,
    sep="\n",
)

# Getting the list of countries that are in the sindices_df but not in the common_clean_countries
missing_countries = sindices_countries.difference(common_clean_countries)
print(
    f"clean countries: {len(missing_countries)};",
    "=" * 60,
    *[f"`{c}`" for c in missing_countries],
    sep="\n",
)

common swiid_countries countries: 143;
============================================================
clean countries: 1;
============================================================
`Cuba`

In [42]:
# Merging the sindices_df with swiid on country_name and year
sindices_df = sindices_df.merge(raw_swiid_df, on=["country_name", "year"], how="left")

In [43]:
del raw_swiid_df, missing_countries, common_clean_countries, swiid_countries, sindices_countries
gc.collect()

0

In [44]:
df_stats(sindices_df, "sindices_df")

['sindices_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(1152, 9)
============================================================
data types:
country_id              int16
country_code           object
country_name           object
year                    int16
log_gdp_per_capita    float64
ECI_18                float64
log_population        float64
gini                  float64
gini_disp             float64
dtype: object
============================================================
columns:
['country_id', 'country_code', 'country_name', 'year', 'log_gdp_per_capita', 'ECI_18', 'log_population', 'gini', 'gini_disp']
============================================================
       country_id     year  log_gdp_per_capita    ECI_18  log_population  \
count    1,152.00 1,152.00            1,152.00  1,152.00        1,152.00
mean       440.19 2,015.50                8.62  0.000000           16.52
std        250.36     2.29                1.46      1.00            1.36
min          8.00 2,012.00                5.35     -2.28           14.04
25%        221.00 2,013.75                7.41 -0.806295           15.52
50%        427.00 2,015.50                8.64 -0.141866           16.24
75%        655.00 2,017.25                9.74  0.737877           17.41
max        894.00 2,019.00               11.59      2.52           21.07

        gini  gini_disp
count 579.00     967.00
mean   36.15      37.96
std     7.37       7.59
min    23.20      22.50
25%    30.80      32.40
50%    35.20      37.80
75%    40.85      43.50
max    63.00      64.50
============================================================
Total memory usage: 195540 bytes
============================================================

In [45]:
# Subset sindices_df to rows with NaN values in "gini_disp" column
missing_swiid_sindices_df = sindices_df[sindices_df["gini_disp"].isna()].reset_index(
    drop=True
)

In [46]:
# Calculating number of rows with missing gini_disp values for each year, combining both absolute and relative frequencies
missing_swiid = missing_swiid_sindices_df["year"].value_counts().reset_index()
missing_swiid.columns = ["year", "count"]
missing_swiid["proportion"] = missing_swiid["count"] / clean_countries_number
missing_swiid.sort_values(by="year", ascending=False, inplace=True)
missing_swiid

   year  count  proportion
0  2019     43    0.298611
1  2018     34    0.236111
2  2017     27    0.187500
3  2016     22    0.152778
4  2015     18    0.125000
6  2014     15    0.104167
5  2013     15    0.104167
7  2012     11    0.076389

We can see that the SWIID dataset contains less missing values than the GINI dataset.
<br>We shall keep both indices for further analysis.

In [47]:
missing_swiid_sindices_df.shape

(185, 9)

In [48]:
missing_swiid_sindices_df["country_id"].nunique()

43

In [49]:
del missing_swiid_sindices_df, missing_swiid
gc.collect()

0

# Importing the Human Capital Index(HCI) (scale 0-1) by World Bank

The HCI calculates the contributions of health and education to worker productivity. The final index score ranges from zero to one and measures the productivity as a future worker of child born today relative to the benchmark of full health and complete education.
<br>HCI has five components (survival to age 5, quality-adjusted education years, child health via stunting, and adult survival) which fall into two categories (health and education).

In [50]:
input_file_name = "human-capital-index-in-2018.csv"
columns = ["Code", "Year", "Human capital index (HCI) (scale 0-1)"]
# reading the csv file, renaming 'iso3_code' to 'country_code'
raw_hci_df = pd.read_csv(
    os.path.join(input_file_location, input_file_name),
    engine="python",
    # skipfooter=11,
    encoding="utf-8",
    encoding_errors="replace",  # Replace invalid characters
    usecols=columns,
    # header=2,
)
# Rename 'iso3' to 'country_code'
columns_new = {
    "Code": "country_code",
    "Year": "year",
    "Human capital index (HCI) (scale 0-1)": "hci",
}
raw_hci_df.rename(columns=columns_new, inplace=True)

In [51]:
df_stats(raw_hci_df, "raw_hci_df")

['raw_hci_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(872, 3)
============================================================
data types:
country_code     object
year              int64
hci             float64
dtype: object
============================================================
columns:
['country_code', 'year', 'hci']
============================================================
          year      hci
count   872.00   601.00
mean  2,018.83 0.569469
std       3.95 0.145568
min   2,010.00 0.286075
25%   2,017.00 0.443490
50%   2,020.00 0.574536
75%   2,023.00 0.690006
max   2,023.00 0.887084
============================================================
Total memory usage: 66092 bytes
============================================================

In [52]:
initial_output_location = output_file_location

# Saving imported gini index data to a .parquet file
output_file_location = os.path.join("..", "data", "02_ingested")
output_file_name = "raw_hci.parquet"
save_hs92_parquet_data(
    data=raw_hci_df,
    file_location=output_file_location,
    file_name=output_file_name,
    dtype_dict={"country_code": "str", "year": "int16"},
)

output_file_location = initial_output_location

year column initial type:
int64
============================================================
year column final type:
int16
============================================================
country_code column initial type:
object
============================================================
country_code column final type:
object
============================================================

Reading ingested HCI (by World Bank) index

In [53]:
initial_input_location = input_file_location

input_file_location = os.path.join("..", "data", "02_ingested")
input_file_name = "raw_hci.parquet"
raw_hci_df = read_hs92_parquet_data(
    input_file_location, input_file_name, f_convert_dtype=False
)

input_file_location = initial_input_location

In [54]:
df_stats(raw_hci_df, "raw_hci_df")

['raw_hci_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(872, 3)
============================================================
data types:
country_code     object
year              int16
hci             float64
dtype: object
============================================================
columns:
['country_code', 'year', 'hci']
============================================================
          year      hci
count   872.00   601.00
mean  2,018.83 0.569469
std       3.95 0.145568
min   2,010.00 0.286075
25%   2,017.00 0.443490
50%   2,020.00 0.574536
75%   2,023.00 0.690006
max   2,023.00 0.887084
============================================================
Total memory usage: 61252 bytes
============================================================

In [55]:
# Merging the sindices_df with gini on country_code and year
sindices_df = sindices_df.merge(raw_hci_df, on=["country_code", "year"], how="left")

In [56]:
del raw_hci_df
gc.collect()

29

In [57]:
df_stats(sindices_df, "sindices_df")

['sindices_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(1152, 10)
============================================================
data types:
country_id              int16
country_code           object
country_name           object
year                    int16
log_gdp_per_capita    float64
ECI_18                float64
log_population        float64
gini                  float64
gini_disp             float64
hci                   float64
dtype: object
============================================================
columns:
['country_id', 'country_code', 'country_name', 'year', 'log_gdp_per_capita', 'ECI_18', 'log_population', 'gini', 'gini_disp', 'hci']
============================================================
       country_id     year  log_gdp_per_capita    ECI_18  log_population  \
count    1,152.00 1,152.00            1,152.00  1,152.00        1,152.00
mean       440.19 2,015.50                8.62  0.000000           16.52
std        250.36     2.29                1.46      1.00            1.36
min          8.00 2,012.00                5.35     -2.28           14.04
25%        221.00 2,013.75                7.41 -0.806295           15.52
50%        427.00 2,015.50                8.64 -0.141866           16.24
75%        655.00 2,017.25                9.74  0.737877           17.41
max        894.00 2,019.00               11.59      2.52           21.07

        gini  gini_disp      hci
count 579.00     967.00   270.00
mean   36.15      37.96 0.573438
std     7.37       7.59 0.150881
min    23.20      22.50 0.316000
25%    30.80      32.40 0.439250
50%    35.20      37.80 0.580376
75%    40.85      43.50 0.710266
max    63.00      64.50 0.887084
============================================================
Total memory usage: 204756 bytes
============================================================

Analizing missing data

In [58]:
# Subset sindices_df to rows with NaN values in "hci" column
missing_hci_sindices_df = sindices_df[sindices_df["hci"].isna()].reset_index(drop=True)

In [59]:
# Calculating number of rows with missing gini values for each year
missing_hci = missing_hci_sindices_df["year"].value_counts().reset_index()
missing_hci.columns = ["year", "count"]
missing_hci["proportion"] = missing_hci["count"] / clean_countries_number
missing_hci.sort_values(by="year", ascending=False, inplace=True)
missing_hci

   year  count  proportion
5  2019    144    1.000000
7  2018      9    0.062500
6  2017      9    0.062500
4  2016    144    1.000000
3  2015    144    1.000000
2  2014    144    1.000000
1  2013    144    1.000000
0  2012    144    1.000000

In [60]:
# Selecting the "country_code", "country_name", "year" and "hci" columns from the sindices_df for the specific years
hci_sindices_df = sindices_df[sindices_df["year"].isin([2017, 2018])][
    ["country_code", "country_name", "year", "hci"]
].reset_index(drop=True)
# Pivotting the hci_sindices_df DataFrame to get the years with hci data for each country
hci_sindices_df = hci_sindices_df.pivot_table(
    index=["country_code", "country_name"],
    columns="year",
    values="hci",
    aggfunc="first",
).reset_index()
hci_sindices_df

year country_code          country_name     2017     2018
0             AGO                Angola 0.361000 0.360191
1             ALB               Albania 0.621000 0.628666
2             ARE  United Arab Emirates 0.659000 0.676001
3             ARG             Argentina 0.611000 0.617367
4             ARM               Armenia 0.572000 0.581726
..            ...                   ...      ...      ...
130           VNM               Vietnam 0.666000 0.687239
131           YEM                 Yemen 0.369000 0.372636
132           ZAF          South Africa 0.406000 0.422549
133           ZMB                Zambia 0.396000 0.391176
134           ZWE              Zimbabwe 0.441000 0.461242

[135 rows x 4 columns]

In [61]:
missing_hci_countries = missing_hci_sindices_df[
    missing_hci_sindices_df["year"].isin([2017, 2018])
]["country_code"].unique()
# Getting the list of country codes and names of the missing_hci_sindices_df that are in the missing_hci_countries
missing_hci_sindices_df[
    missing_hci_sindices_df["country_code"].isin(missing_hci_countries)
][["country_code", "country_name"]].drop_duplicates().reset_index(drop=True)

  country_code              country_name
0          BOL                   Bolivia
1          BLR                   Belarus
2          CAF  Central African Republic
3          CUB                      Cuba
4          LBY                     Libya
5          SOM                   Somalia
6          SYR                     Syria
7          TKM              Turkmenistan
8          UZB                Uzbekistan

As analysis of HCI dataset shows, we have the data available across 2017, 2018 years for further analysis. And the data for 2018 is not just a duplicate of 2017. So we will treat both years as separate and meaningful datasets.

In [62]:
hci_sindices_df.sample(10)

year country_code country_name     2017     2018
123           TUN      Tunisia 0.508000 0.509610
5             AUS    Australia 0.803000 0.780834
39            GAB        Gabon 0.453000 0.456388
15            BRA       Brazil 0.560000 0.545724
82            MOZ   Mozambique 0.361000 0.355467
51            HUN      Hungary 0.703000 0.705065
64            KHM     Cambodia 0.493000 0.490685
48            HND     Honduras 0.490000 0.480306
34            ESP        Spain 0.743000 0.736156
127           UKR      Ukraine 0.647000 0.642378

In [63]:
del missing_hci_sindices_df, missing_hci, missing_hci_countries, hci_sindices_df
gc.collect()

0

HDI vs HCI trade-offs:
<br>
<br>HDI includes per capita income (as a proxy for standard of living), while HCI excludes income entirely.
<br>
<br>HDI has three broad categories (health, education, income).
<br>HCI has two broad categories (health and education) with five components (survival to age 5, quality-adjusted education years, child health via stunting, and adult survival).
<br> 
<br>HDI offers a long-running, simple composite of basic development outcomes (including income), suitable for general-purpose use but limited in nuance. 
<br>HCI offers a more nuanced look at the building blocks of future economic development (education quality and health of the young), making it potentially more relevant when analyzing growth potential or productivity – but it has shorter data availability.

# Importing the HDI(human development index (by UNDP)) and it's components:<br>- GNI(gross national income index)<br>- LE(life expectancy)<br>- EYS(expected years of schooling)<br>- MYS(mean years of schooling)

In [64]:
rolling_exports_years

[2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [65]:
# Callable function to filter columns based on the years of interest and specific indices HDI and GNI per capita
def make_usecols_filter(years):
    def usecols(col):
        return col == "iso3" or any(
            col == f"hdi_{year}"
            or col == f"gnipc_{year}"
            or col == f"le_{year}"
            or col == f"eys_{year}"
            or col == f"mys_{year}"
            for year in years
        )

    return usecols

In [66]:
input_file_name = "HDR23-24_Composite_indices_complete_time_series.csv"
# reading the csv file, renaming 'iso3_code' to 'country_code'
raw_hdi_components_df = pd.read_csv(
    os.path.join(input_file_location, input_file_name),
    engine="python",
    skipfooter=11,
    encoding="utf-8",
    encoding_errors="replace",  # Replace invalid characters
    usecols=make_usecols_filter(rolling_exports_years),
    # header=2,
)
# Rename 'iso3' to 'country_code'
columns_new = {"iso3": "country_code"}
raw_hdi_components_df.rename(columns=columns_new, inplace=True)

In [67]:
print(*(raw_hdi_components_df.columns))

country_code hdi_2012 hdi_2013 hdi_2014 hdi_2015 hdi_2016 hdi_2017 hdi_2018 hdi_2019 le_2012 le_2013 le_2014 le_2015 le_2016 le_2017 le_2018 le_2019 eys_2012 eys_2013 eys_2014 eys_2015 eys_2016 eys_2017 eys_2018 eys_2019 mys_2012 mys_2013 mys_2014 mys_2015 mys_2016 mys_2017 mys_2018 mys_2019 gnipc_2012 gnipc_2013 gnipc_2014 gnipc_2015 gnipc_2016 gnipc_2017 gnipc_2018 gnipc_2019

In [68]:
raw_hdi_components_df.head(2)

,country_code,hdi_2012,hdi_2013,hdi_2014,hdi_2015,hdi_2016,hdi_2017,hdi_2018,hdi_2019,le_2012,...,mys_2018,mys_2019,gnipc_2012,gnipc_2013,gnipc_2014,gnipc_2015,gnipc_2016,gnipc_2017,gnipc_2018,gnipc_2019
0,AFG,0.467000,0.475000,0.480000,0.479000,0.483000,0.485000,0.486000,0.492000,61.92,...,2.55,2.70,"2,174.35","2,244.21","2,222.09","2,142.69","2,122.36","2,123.68","2,082.11","2,112.99"
1,ALB,0.789000,0.793000,0.797000,0.797000,0.795000,0.796000,0.797000,0.800000,78.06,...,10.02,10.07,"11,146.25","11,552.97","11,691.63","12,016.28","12,484.61","12,802.18","13,302.73","13,481.97"

In [69]:
def get_component_df(raw_components_df, component_name):
    """
    Function to filter the raw DataFrame for a specific component and return it.
    """
    # 1. Separate components columns
    component_cols = [
        col for col in raw_components_df.columns if col.startswith(f"{component_name}_")
    ]

    # 2. Melt (unpivot) all parts to long format
    component_df = raw_components_df[["country_code"] + component_cols].melt(
        id_vars="country_code", var_name="year", value_name=component_name
    )

    # 3. Clean "year" column: strip prefix to keep only the year number
    component_df["year"] = component_df["year"].str.extract(r"(\d{4})").astype(int)

    print(
        f"Component `{component_name}` missing values:",
        component_df.isna().sum(),
        sep="\n",
    )

    return component_df

In [70]:
hdi_df = get_component_df(raw_hdi_components_df, "hdi")
le_df = get_component_df(raw_hdi_components_df, "le")
eys_df = get_component_df(raw_hdi_components_df, "eys")
mys_df = get_component_df(raw_hdi_components_df, "mys")
gnipc_df = get_component_df(raw_hdi_components_df, "gnipc")

Component `hdi` missing values:
country_code     0
year             0
hdi             24
dtype: int64
Component `le` missing values:
country_code    0
year            0
le              0
dtype: int64
Component `eys` missing values:
country_code     0
year             0
eys             16
dtype: int64
Component `mys` missing values:
country_code     0
year             0
mys             24
dtype: int64
Component `gnipc` missing values:
country_code     0
year             0
gnipc           16
dtype: int64

In [71]:
del raw_hdi_components_df
gc.collect()

65

In [72]:
le_df.sample(5)

     country_code  year    le
479           KIR  2014 65.81
1080          MYS  2017 75.48
374           TUR  2013 76.30
810           CMR  2016 60.23
1287          MNE  2018 77.16

In [73]:
# assert False, "End of code"

In [74]:
initial_output_location = output_file_location

# Saving imported gini index data to a .parquet file
output_file_location = os.path.join("..", "data", "02_ingested")
output_file_name = "raw_hdi.parquet"
save_hs92_parquet_data(
    data=hdi_df,
    file_location=output_file_location,
    file_name=output_file_name,
    dtype_dict={"country_code": "str"},
)
output_file_name = "raw_le.parquet"
save_hs92_parquet_data(
    data=le_df,
    file_location=output_file_location,
    file_name=output_file_name,
    dtype_dict={"country_code": "str"},
)
output_file_name = "raw_eys.parquet"
save_hs92_parquet_data(
    data=eys_df,
    file_location=output_file_location,
    file_name=output_file_name,
    dtype_dict={"country_code": "str"},
)
output_file_name = "raw_mys.parquet"
save_hs92_parquet_data(
    data=mys_df,
    file_location=output_file_location,
    file_name=output_file_name,
    dtype_dict={"country_code": "str"},
)
output_file_name = "raw_gnipc.parquet"
save_hs92_parquet_data(
    data=gnipc_df,
    file_location=output_file_location,
    file_name=output_file_name,
    dtype_dict={"country_code": "str"},
)

output_file_location = initial_output_location

year column initial type:
int32
============================================================
year column final type:
int16
============================================================
country_code column initial type:
object
============================================================
country_code column final type:
object
============================================================
year column initial type:
int32
============================================================
year column final type:
int16
============================================================
country_code column initial type:
object
============================================================
country_code column final type:
object
============================================================
year column initial type:
int32
============================================================
year column final type:
int16
============================================================
country_code column initial type:
object
============================================================
country_code column final type:
object
============================================================
year column initial type:
int32
============================================================
year column final type:
int16
============================================================
country_code column initial type:
object
============================================================
country_code column final type:
object
============================================================
year column initial type:
int32
============================================================
year column final type:
int16
============================================================
country_code column initial type:
object
============================================================
country_code column final type:
object
============================================================

In [75]:
initial_input_location = input_file_location

input_file_location = os.path.join("..", "data", "02_ingested")
input_file_name = "raw_hdi.parquet"
raw_hdi_df = read_hs92_parquet_data(
    input_file_location, input_file_name, f_convert_dtype=False
)
input_file_name = "raw_le.parquet"
raw_le_df = read_hs92_parquet_data(
    input_file_location, input_file_name, f_convert_dtype=False
)
input_file_name = "raw_eys.parquet"
raw_eys_df = read_hs92_parquet_data(
    input_file_location, input_file_name, f_convert_dtype=False
)
input_file_name = "raw_mys.parquet"
raw_mys_df = read_hs92_parquet_data(
    input_file_location, input_file_name, f_convert_dtype=False
)
input_file_name = "raw_gnipc.parquet"
raw_gnipc_df = read_hs92_parquet_data(
    input_file_location, input_file_name, f_convert_dtype=False
)

input_file_location = initial_input_location

In [76]:
print(
    raw_hdi_df.columns,
    raw_gnipc_df.columns,
    raw_le_df.columns,
    raw_eys_df.columns,
    raw_mys_df.columns,
    sep="\n",
)

Index(['country_code', 'year', 'hdi'], dtype='object')
Index(['country_code', 'year', 'gnipc'], dtype='object')
Index(['country_code', 'year', 'le'], dtype='object')
Index(['country_code', 'year', 'eys'], dtype='object')
Index(['country_code', 'year', 'mys'], dtype='object')

In [77]:
# Merging the sindices_df with hdi and components on country_code and year
sindices_df = sindices_df.merge(raw_hdi_df, on=["country_code", "year"], how="left")
sindices_df = sindices_df.merge(raw_le_df, on=["country_code", "year"], how="left")
sindices_df = sindices_df.merge(raw_eys_df, on=["country_code", "year"], how="left")
sindices_df = sindices_df.merge(raw_mys_df, on=["country_code", "year"], how="left")
sindices_df = sindices_df.merge(raw_gnipc_df, on=["country_code", "year"], how="left")

In [78]:
df_stats(sindices_df, "sindices_df")

['sindices_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(1152, 15)
============================================================
data types:
country_id              int16
country_code           object
country_name           object
year                    int16
log_gdp_per_capita    float64
ECI_18                float64
log_population        float64
gini                  float64
gini_disp             float64
hci                   float64
hdi                   float64
le                    float64
eys                   float64
mys                   float64
gnipc                 float64
dtype: object
============================================================
columns:
['country_id', 'country_code', 'country_name', 'year', 'log_gdp_per_capita', 'ECI_18', 'log_population', 'gini', 'gini_disp', 'hci', 'hdi', 'le', 'eys', 'mys', 'gnipc']
============================================================
       country_id     year  log_gdp_per_capita    ECI_18  log_population  \
count    1,152.00 1,152.00            1,152.00  1,152.00        1,152.00
mean       440.19 2,015.50                8.62  0.000000           16.52
std        250.36     2.29                1.46      1.00            1.36
min          8.00 2,012.00                5.35     -2.28           14.04
25%        221.00 2,013.75                7.41 -0.806295           15.52
50%        427.00 2,015.50                8.64 -0.141866           16.24
75%        655.00 2,017.25                9.74  0.737877           17.41
max        894.00 2,019.00               11.59      2.52           21.07

        gini  gini_disp      hci      hdi       le      eys      mys  \
count 579.00     967.00   270.00 1,144.00 1,152.00 1,144.00 1,144.00
mean   36.15      37.96 0.573438 0.717726    71.86    13.38     8.68
std     7.37       7.59 0.150881 0.157834     8.08     3.08     3.30
min    23.20      22.50 0.316000 0.352000    47.84     5.12     1.20
25%    30.80      32.40 0.439250 0.579500    65.38    11.17     6.04
50%    35.20      37.80 0.580376 0.750500    73.71    13.62     9.02
75%    40.85      43.50 0.710266 0.846000    77.92    15.47    11.41
max    63.00      64.50 0.887084 0.961000    85.27    23.25    14.17

           gnipc
count   1,152.00
mean   19,450.04
std    19,497.88
min       732.04
25%     4,473.28
50%    12,436.85
75%    28,253.73
max   103,999.43
============================================================
Total memory usage: 250836 bytes
============================================================

In [79]:
# Subset raw_hdi to rows with NaN values in "hdi" column
missing_hdi_df = sindices_df[sindices_df["hdi"].isna()].reset_index(drop=True)

# Subset raw_gnipc to rows with NaN values in "gnipc" column
missing_gnipc_df = sindices_df[sindices_df["gnipc"].isna()].reset_index(drop=True)

In [80]:
# Calculating number of rows with missing hdi values for each year
missing_hdi = missing_hdi_df["year"].value_counts().reset_index()
missing_hdi.columns = ["year", "count"]
missing_hdi["proportion"] = missing_hdi["count"] / 144
missing_hdi.sort_values(by="year", ascending=False, inplace=True)
missing_hdi

   year  count  proportion
7  2019      1    0.006944
6  2018      1    0.006944
5  2017      1    0.006944
4  2016      1    0.006944
3  2015      1    0.006944
2  2014      1    0.006944
1  2013      1    0.006944
0  2012      1    0.006944

In [81]:
missing_hdi_df

,country_id,country_code,country_name,year,log_gdp_per_capita,ECI_18,log_population,gini,gini_disp,hci,hdi,le,eys,mys,gnipc
0,706,SOM,Somalia,2012,5.86,-1.26,16.34,NaN,NaN,NaN,NaN,53.16,NaN,NaN,"1,008.13"
1,706,SOM,Somalia,2013,5.97,-1.06,16.37,NaN,NaN,NaN,NaN,53.84,NaN,NaN,883.12
2,706,SOM,Somalia,2014,6.06,-1.29,16.41,NaN,NaN,NaN,NaN,54.28,NaN,NaN,920.08
3,706,SOM,Somalia,2015,6.10,-1.43,16.44,NaN,NaN,NaN,NaN,54.86,NaN,NaN,"1,024.16"
4,706,SOM,Somalia,2016,6.13,-1.59,16.48,NaN,NaN,NaN,NaN,55.04,NaN,NaN,"1,070.35"
5,706,SOM,Somalia,2017,6.24,-1.59,16.52,NaN,NaN,NaN,NaN,55.65,NaN,NaN,"1,053.00"
6,706,SOM,Somalia,2018,6.23,-1.45,16.55,NaN,NaN,NaN,NaN,56.38,NaN,NaN,"1,108.06"
7,706,SOM,Somalia,2019,6.29,-1.32,16.59,NaN,NaN,NaN,NaN,57.08,NaN,NaN,"1,097.60"

In [82]:
# # sorting list of country codes
# [c for c in raw_gnipc_df["country_code"].unique() if c.startswith("M") or c.startswith("P")]

In [83]:
# # sorting list of country codes
# [c for c in sindices_df["country_code"].unique() if c.startswith("M") or c.startswith("P")]

In [84]:
# hdi_gni_df.head(3)

In [85]:
# df_stats(hdi_gni_df, "hdi_gni_df")

In [86]:
# # Subset hdi_gni_df to rows with NaN values in any of the columns
# missing_hdi_gni_df = hdi_gni_df[
#     hdi_gni_df.isna().any(axis=1)
# ].reset_index(drop=True)

In [87]:
# missing_hdi_gni_df

In [88]:
del missing_hdi_df, missing_hdi, missing_gnipc_df, raw_hdi_df, raw_gnipc_df, raw_le_df, raw_eys_df, raw_mys_df
gc.collect()

0

# Staging collected socio-economic indices

At this point, I should have created a new "07_sindices_processed" folder for the input indices for SAGE model

In [89]:
# Saving merged socio-economic indices data to a .parquet file
output_file_name = "sindices.parquet"
save_hs92_parquet_data(
    data=sindices_df,
    file_location=output_file_location,
    file_name=output_file_name,
    dtype_dict={"country_code": "str"},
)

country_id column initial type:
int16
============================================================
country_id column final type:
int16
============================================================
year column initial type:
int16
============================================================
year column final type:
int16
============================================================
country_code column initial type:
object
============================================================
country_code column final type:
object
============================================================

In [90]:
df_stats(sindices_df, "sindices_df")

['sindices_df', <class 'pandas.core.frame.DataFrame'>]
============================================================
shape:
(1152, 15)
============================================================
data types:
country_id              int16
country_code           object
country_name           object
year                    int16
log_gdp_per_capita    float64
ECI_18                float64
log_population        float64
gini                  float64
gini_disp             float64
hci                   float64
hdi                   float64
le                    float64
eys                   float64
mys                   float64
gnipc                 float64
dtype: object
============================================================
columns:
['country_id', 'country_code', 'country_name', 'year', 'log_gdp_per_capita', 'ECI_18', 'log_population', 'gini', 'gini_disp', 'hci', 'hdi', 'le', 'eys', 'mys', 'gnipc']
============================================================
       country_id     year  log_gdp_per_capita    ECI_18  log_population  \
count    1,152.00 1,152.00            1,152.00  1,152.00        1,152.00
mean       440.19 2,015.50                8.62  0.000000           16.52
std        250.36     2.29                1.46      1.00            1.36
min          8.00 2,012.00                5.35     -2.28           14.04
25%        221.00 2,013.75                7.41 -0.806295           15.52
50%        427.00 2,015.50                8.64 -0.141866           16.24
75%        655.00 2,017.25                9.74  0.737877           17.41
max        894.00 2,019.00               11.59      2.52           21.07

        gini  gini_disp      hci      hdi       le      eys      mys  \
count 579.00     967.00   270.00 1,144.00 1,152.00 1,144.00 1,144.00
mean   36.15      37.96 0.573438 0.717726    71.86    13.38     8.68
std     7.37       7.59 0.150881 0.157834     8.08     3.08     3.30
min    23.20      22.50 0.316000 0.352000    47.84     5.12     1.20
25%    30.80      32.40 0.439250 0.579500    65.38    11.17     6.04
50%    35.20      37.80 0.580376 0.750500    73.71    13.62     9.02
75%    40.85      43.50 0.710266 0.846000    77.92    15.47    11.41
max    63.00      64.50 0.887084 0.961000    85.27    23.25    14.17

           gnipc
count   1,152.00
mean   19,450.04
std    19,497.88
min       732.04
25%     4,473.28
50%    12,436.85
75%    28,253.73
max   103,999.43
============================================================
Total memory usage: 250836 bytes
============================================================

In [91]:
dumped_data["num_countries"] = clean_countries_number

In [92]:
staging_cache(
    f_quiet=True,
    output_file_location=output_file_location,
    **dumped_data,
)

data staged:['rolling_exports_years', 'clean_countries_ids', 'target_correlations_df', 'location_df', 'num_countries']
============================================================